* {
  --headerFontSize: 1.5rem;
  --headerPadding: 1rem;
  --footerFontSize: 1rem;
  --footerPadding: 1rem;
}

main {
  background-color: lightgreen;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem;
  text-align: center;
  height:  calc(
    100vh 
    - var(--headerFontSize) 
    - (2 * var(--headerPadding))
    - var(--footerFontSize) 
    - (2 * var(--footerPadding))
);
  overflow-y: auto;
}
